@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");

* {
    font-family: Helvetica, Arial, sans-serif;
}

/* header */

h1 {
    font-family: 'Lora', Impact, serif;
    text-align: center;
    font-size: 40px;
    padding: 1% 0;
}

.page-nav {
    border-top: solid 2px #EFC69B;
    border-bottom: solid 2px #EFC69B;
    padding: 1% 0;
}

.nav-grid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: end;
    justify-items: end;
    list-style-type: none;
    max-width: 80%;
    margin: 0 auto;
}

a {
    color: #AF1B3F;
    font-size: 20px;
}

/* main */

.page-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.book-grid article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 40px;
}

article {
    margin-bottom: 40px;
}

.left-section {
    border-right: solid 2px #EFC69B;
    text-align: right;
    padding: 7px 14px;
}

.left-section > * {
    margin-bottom: 0;
}

.left-section > *:not(:first-child) {
    margin-top: 12px;
}

h3 {
    font-size: 18px;
}

.center-section {
    padding: 0 14px;
}

.center-section img {
    display: block;
    margin: 0 auto;
}

.filters {
    border: solid 2px #EFC69B;
}